body{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div{
      width: 300px;
      height: 350px;
      background-color: white;
      border-radius: 20px;
      padding: 15px 0 15px 0;
      
  }
  h3{
      margin: 10px;
  }
  span{
      color:dodgerblue;
  }
  .bord{
      border: none;
      border-bottom: 0.5px solid dodgerblue;
      width: 80%;
      padding-top: 30px;
  }
  .bord:focus{
      border: none;
      border-bottom: 2px solid dodgerblue;
  }
  .button{
      border: none;
      background-image:linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      color: white;
      font-size: 16px;
      width: 80%;
      height: 35px;
      margin-top: 20px;
  }
  .button:hover{
      background-image:linear-gradient(190deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  p{
      margin: 10px 0;
  }
  #log{
      color: dodgerblue;
     text-decoration: none;
     margin-top: 5px;
  }
  #home{
      display: block;
    margin-top: 10px;
    font-size: 13px;
}